
<div class="card" style="width: auto;">
  <!-- <a style="padding: 5%; font-size: 300%; font-family: Georgia, serif;">{{model.nom}}</a> -->
  <a style="padding: 5%; font-size: 300%; font-weight: bold; font-family: 'Montserrat', sans-serif;">{{model.nom}}</a>

  <img class="card-img-top" src={{model.imageUrl}} alt="Card image cap" style="width: 40rem; align-self: center;">
  
  <div class="card-body" style="align-self: center;">
    <div class="row">
      <ul class="list-group list-group-flush">
            <li class="list-group-item"><a style="font-weight: bold;">MARQUE:&emsp;</a>{{model.nom}}</li>
            <li class="list-group-item"><a style="font-weight: bold;">PRIX:&emsp;</a>{{model.prix}} DT</li>
            <li class="list-group-item"><a style="font-weight: bold;">ENERGIE:&emsp;</a>{{model.energie}}</li>
            <li class="list-group-item"><a style="font-weight: bold;">BOITE:&emsp;</a>{{model.boite}}</li>  
      </ul> 
      <ul class="list-group list-group-flush">
            <li class="list-group-item"><a style="font-weight: bold;">PUISSANCE FISCALE:&emsp;</a>{{model.puissanceFiscale}} cv</li>
            <li class="list-group-item"><a style="font-weight: bold;">NOMBRE DE CYLINDRES:&emsp;</a>{{model.nbreDeCylindres}}</li>
            <li class="list-group-item"><a style="font-weight: bold;">NOMBRE DE PLACES:&emsp;</a>{{model.nbreDePlaces}}</li>
            <li class="list-group-item"><a style="font-weight: bold;">NOMBRE DE RAPPORTS:&emsp;</a>    {{model.nbreDeRapports}}</li>
      </ul> 
    </div>
    
    <hr>

    <div class="text-center">
      <a (click)="ModalParametresSimulation.show()" class="btn btn-outline-primary" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size: larger;">Simuler un crédit</a>
      <!-- <a routerLink="forms" class="btn btn-primary">Demander un crédit</a> -->
      <!-- <a (click)=goPlaces() class="btn btn-primary">Simuler un crédit</a> -->
    </div>
    
  </div>
</div>


<app-ui-modal #modalSimulation dialogClass="modal-dialog-centered" >
  <div class="app-modal-header">
    <!-- <h2 class="modal-title">Modifier le profil</h2> -->
    <div *ngIf="loading==false"style="font-size:170%; font-weight:600; font-family: 'Montserrat', sans-serif; margin-top: 1%; ">votre estimation est:</div>

    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalSimulation.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div  class="app-modal-body text-center">
   
      <div *ngIf="loading==true">
        <div class="text-center" style="font-size:150%; font-weight:bold; font-family: 'Montserrat', sans-serif; margin: 2%; ">Calcul en cours...</div>
        <div  class="d-flex justify-content-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
  
    

    <div *ngIf="loading==false"style="font-size:170%; font-weight:500; font-family: 'Montserrat', sans-serif; margin-top: 1%; ">{{simulationDt}} dt/mois</div>
    
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-outline-secondary" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size: larger;" data-dismiss="modal" (click)="modalSimulation.hide()" >Fermer</button>
    <button type="button" class="btn btn-outline-primary" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size: larger;" (click)="modalSimulation.hide();goPlaces()" [disabled]="loading==true">Lancer le crédit</button>
    <!-- <a routerLink="forms" class="btn btn-primary">Lancer le crédit</a> -->
  </div>
</app-ui-modal>



<app-ui-modal #ModalParametresSimulation dialogClass="modal-dialog-centered" [containerClick]="false">
  <div class="app-modal-header">
    <!-- <h2 class="modal-title">Paramètres de la Simulation</h2> -->
    <div style="font-size:170%; font-weight:600; font-family: 'Montserrat', sans-serif; margin-top: 1%; ">Paramètres de la Simulation</div>

    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="ModalParametresSimulation.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <div class="col">
      
        
        <div class="row mt-3 justify-content-between">
              <!-- <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div> -->
              <div class=" col-md-6 form-group">
                <label class="labels" style="font-size:130%; font-weight:600; font-family: 'Montserrat', sans-serif;">Auto financement:</label>
                <div class="row justify-content-start">
                  <div class="col-5">
                    <input data-suffix="dt" value="0" min="0" max="50000" type="number" class="form-control" id="autoF" autocomplete="off" th:field="*{temp}" (input)="onInputAutoFinancement($event)"/>
                  </div>
                  <div class="col-2 d-flex align-items-center" style="font-size:120%; font-family: 'Montserrat', sans-serif;">dt</div>
                </div>
              </div>
              <div class=" col-md-5 form-group">
                <label class="labels"  style="font-size:130%; font-weight:600; font-family: 'Montserrat', sans-serif;">Durée:</label>
                <div class="row justify-content-start">
                  <div class="col-4">
                    <input data-suffix="mois" value="0" min="0" max="200" type="number" class="form-control" id="nbMois" autocomplete="off" th:field="*{temp}" (input)="onInputDureeRemboursement($event)"/>
                  </div>
                  <div class="col-4 d-flex align-items-center" style="font-size:120%; font-family: 'Montserrat', sans-serif;">mois</div>
                </div>
              </div>
        </div>
      
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-outline-secondary" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size: larger;" data-dismiss="modal" (click)="ModalParametresSimulation.hide()">Fermer</button>
    <button type="button" class="btn btn-outline-primary" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size: larger;" (click)="simulation();ModalParametresSimulation.hide();modalSimulation.show()">Calculer</button>
    <!-- <button type="button" class="btn btn-primary" (click)="modalSimulation.show()">Calculer</button> -->
  </div>
</app-ui-modal>