<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Avancement du crédit" [options]="false" >
      <!-- <div class="row ">
        <div class="col-2 d-flex align-items-center">
          <img class="card-img-top" src="assets\images\brands\audi-a4.jpg" alt="Card image cap" style="width: 100%;">
        </div>
        <div class="col-9 d-flex align-items-center">
          <ngb-progressbar [showValue]="true" [value]="25" style="width: 100% ;"></ngb-progressbar>
        </div>
        <div class="col-1 d-flex align-items-center">
          <img class="card-img-top" src="assets\images\profile\profile-pic.jpg" alt="Card image cap" style="width: 100%;">
        </div>
      </div> -->

  

      <div *ngIf="contractReceived" class="row ">
        <div class="col-2 " style="font-size:200%; font-weight: bold; font-family: 'Montserrat', sans-serif; margin-top: 1%;">Statut: </div>
        <div class="col-8 " style="font-size:200%; font-family: 'Montserrat', sans-serif; margin-top: 1%; text-align: left;">En attente de signature du contrat. Veuillez le signer puis l'envoyer</div>
        <div *ngIf="contractReceived" class="col-2"><button class="btn btn-outline-primary" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size: larger;" ngbTooltip="btn-outline-primary" type="button" (click)="ModalContract.show()">Voir contrat</button></div>
      </div>

      <div *ngIf="!contractReceived" class="row ">
        <div class="col-2 " style="font-size:200%; font-weight: bold; font-family: 'Montserrat', sans-serif; margin-top: 1%;">Statut: </div>
        <div class="col-8 " style="font-size:200%; font-family: 'Montserrat', sans-serif; margin-top: 1%; text-align: left;">{{correctStatus()}}</div>
        <div *ngIf="show" class="col-2"><button class="btn btn-outline-primary" ngbTooltip="btn-outline-primary" type="button" (click)="ModalUploadDomiciliation.show()">Continuer</button></div>
        <div  *ngIf="!show" class="col-2"><button class="btn btn-outline-primary" ngbTooltip="btn-outline-primary" type="button" (click)="ModalUploadDocuments.show()">Docs</button></div>
      </div>
      
      <hr>
      <div *ngIf="percentage==0" class="row ">
        <div class="col-2 ">
          <div class="row">
            <img class="card-img-top" src={{model.imageUrl}} alt="Card image cap" style="width: 100%;">
          </div>
          <div class="row d-flex justify-content-center">
            <div class="label" style="font-size: 200%; font-weight: bolder; font-family: 'Montserrat', sans-serif; margin-top: 5%;">0%</div>
          </div>
          
        </div>
        <div class="col-9 d-flex align-items-center">
          <ngb-progressbar [showValue]="true" [value]="0" style="width: 100% ;"></ngb-progressbar>
        </div>
        <div class="col-1 d-flex align-items-center">
          <img class="card-img-top" src="assets\images\profile\profile-pic.jpg" alt="Card image cap" style="width: 100%;">
        </div>
      </div>

      <div *ngIf="percentage==25" class="row ">
        <div class="col-2 d-flex align-items-center">
          <ngb-progressbar [value]="100" [striped]="true" [animated]="stripAnimation" style="width: 100%"></ngb-progressbar>
        </div>
        <div class="col-2 ">
          <div class="row">
            <img class="card-img-top" src={{model.imageUrl}} alt="Card image cap" style="width: 100%;">
          </div>
          <div class="row d-flex justify-content-center">
            <div class="label" style="font-size: 200%; font-weight: bolder; font-family: 'Montserrat', sans-serif; margin-top: 5%;">25%</div>
          </div>
          
        </div>
        <div class="col-7 d-flex align-items-center">
          <ngb-progressbar [showValue]="true" [value]="0" style="width: 100% ;"></ngb-progressbar>
        </div>
        <div class="col-1 d-flex align-items-center">
          <img class="card-img-top" src="assets\images\profile\profile-pic.jpg" alt="Card image cap" style="width: 100%;">
        </div>
      </div>

      <div *ngIf="percentage==50" class="row ">
        <div class="col-4 d-flex align-items-center">
          <ngb-progressbar [value]="100" [striped]="true" [animated]="stripAnimation" style="width: 100%"></ngb-progressbar>
        </div>
        <div class="col-2 ">
          <div class="row">
            <img class="card-img-top" src={{model.imageUrl}} alt="Card image cap" style="width: 100%;">
          </div>
          <div class="row d-flex justify-content-center">
            <div class="label" style="font-size: 200%; font-weight: bolder; font-family: 'Montserrat', sans-serif; margin-top: 5%;">50%</div>
          </div>
          
        </div>
        <div class="col-5 d-flex align-items-center">
          <ngb-progressbar [showValue]="true" [value]="0" style="width: 100% ;"></ngb-progressbar>
        </div>
        <div class="col-1 d-flex align-items-center">
          <img class="card-img-top" src="assets\images\profile\profile-pic.jpg" alt="Card image cap" style="width: 100%;">
        </div>
      </div>

      <div *ngIf="percentage==75" class="row ">
        <div class="col-6 d-flex align-items-center">
          <ngb-progressbar [value]="100" [striped]="true" [animated]="stripAnimation" style="width: 100%"></ngb-progressbar>
        </div>
        <div class="col-2 ">
          <div class="row">
            <img class="card-img-top" src={{model.imageUrl}} alt="Card image cap" style="width: 100%;">
          </div>
          <div class="row d-flex justify-content-center">
            <div class="label" style="font-size: 200%; font-weight: bolder; font-family: 'Montserrat', sans-serif; margin-top: 5%;">75%</div>
          </div>
          
        </div>
        <div class="col-3 d-flex align-items-center">
          <ngb-progressbar [showValue]="true" [value]="0" style="width: 100% ;"></ngb-progressbar>
        </div>
        <div class="col-1 d-flex align-items-center">
          <img class="card-img-top" src="assets\images\profile\profile-pic.jpg" alt="Card image cap" style="width: 100%;">
        </div>
      </div>
       
      
      
    </app-card>
  </div>
  <div class="col-sm-12">
    <!-- <div class="card" style="width: auto; "> -->
      <app-card cardTitle="Détails du crédit" [options]="false">
      

        <div class="container rounded bg-white mt-5 mb-5">
          <div class="row">
      
            <div class="col-md-5">
              
              <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                
                  <img class="card-img-top" src={{model.imageUrl}} alt="Card image cap" style="width: 70%; align-self: center;">
                  
                  <div >
                    <div class="row">
                      <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a class="spec" >MARQUE:&emsp;</a>{{model.nom}}</li>
                            <li class="list-group-item"><a class="spec" >PRIX:&emsp;</a>{{model.prix}} DT</li>
                            <li class="list-group-item"><a class="spec" >ENERGIE:&emsp;</a>{{model.energie}}</li>
                            <li class="list-group-item"><a class="spec" >BOITE:&emsp;</a>{{model.boite}}</li>  
                      </ul> 
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a class="spec" >PUISSANCE FISCALE:&emsp;</a>{{model.puissanceFiscale}} cv</li>
                        <li class="list-group-item"><a class="spec" >NOMBRE DE CYLINDRES:&emsp;</a>{{model.nbreDeCylindres}}</li>
                        <li class="list-group-item"><a class="spec" >NOMBRE DE PLACES:&emsp;</a>{{model.nbreDePlaces}}</li>
                        <li class="list-group-item"><a class="spec" >NOMBRE DE RAPPORTS:&emsp;</a>    {{model.nbreDeRapports}}</li>
                      </ul> 
                    </div>
                  </div>
                
              </div>
            </div>
            
            <div class="col-md-7 ">
              <div class="container" style="padding-right: 10%; padding-left: 10%;">
                
                <div class="p-3 py-5">
                  
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Nom</h6>
                    </div>
                    <div class="col-sm-5 text-secondary">
                      {{client.nom}}
                    </div>
                  </div>
      
                  <hr>
      
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Prénom</h6>
                    </div>
                    <div class="col-sm-5 text-secondary">
                      {{client.prenom}}
                    </div>
                  </div>
      
                  <hr>
      
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Date de naissance</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                      {{client.dateNaissance}}
                    </div>
                  </div>
      
                  <hr>
      
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                      {{client.email}}
                    </div>
                  </div>
      
                  <hr>
      
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Num Tel</h6>
                    </div>
                    <div class="col-sm-4 text-secondary">
                      {{client.numTel}} 
                    </div>
                  </div>
      
                  <hr>
      
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Auto financement</h6>
                    </div>
                    <div class="col-sm-5 text-secondary">
                      {{credit.autoFinancement}} dt
                    </div>
                  </div>
      
                  <hr>
      
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Durée de remboursement</h6>
                    </div>
                    <div class="col-sm-5 text-secondary">
                      {{credit.dureeRemboursement}} mois
                    </div>
                  </div>
      
                  <hr>
      
                  <div class="row">
                    <div class="col-sm-5">
                      <h6 class="mb-0">Montant crédité</h6>
                    </div>
                    <div class="col-sm-5 text-secondary">
                      {{credit.montant}} dt
                    </div>
                  </div>
      
      
                
              </div>
      
              </div>
                
            </div>
          </div>  
        </div>
      
      
      <!-- </div> -->
    </app-card> 
  </div>
 
</div>


<app-ui-modal #ModalUploadDomiciliation  dialogClass="modal-dialog-centered" [containerClick]="false">
  <div class="app-modal-header">
    <h2 class="modal-title">Document domiciliation de salaire</h2>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="ModalUploadDomiciliation.hide()"><span aria-hidden="true">&times;</span></button>
  </div>

  <div class="app-modal-body">
    <input type="file" class="file-input"(change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload text-center">

      <div class="row justify-content-center">

        <div class="col-6 d-flex justify-content-center" style="margin-top: 2% ; font-size: 150%; font-family: 'Montserrat', sans-serif; text-align: left; text-align: left;">
          {{fileName || "Choisir un fichier..."}}
        </div>


        <div class="col-2">
          <button type="button" class="btn btn-icon btn-outline-primary" (click)="fileUpload.click()">
            <i class="feather icon-plus"></i>
          </button>
        </div>

      </div>

    </div>

    <hr>

    <div *ngIf="fileName!='' && !uploadProgress && uploadDomiciliationLoading" class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <ngb-progressbar [showValue]="true" [value]="uploadProgress" *ngIf="uploadProgress" style="width: 100% ;"></ngb-progressbar>

  </div>
  
  
  <div class="app-modal-footer">
    <button type="button" class="btn btn-outline-secondary" ngbTooltip="btn-outline-secondary"   data-dismiss="modal" (click)="ModalUploadDomiciliation.hide()">Annuler</button>
    <button type="button" class="btn btn-outline-primary" ngbTooltip="btn-outline-primary" style="margin: 2px" [disabled]="disableSendDomiciliation" (click)="envoyer();ModalUploadDomiciliation.hide();ModalResponse.show()">Envoyer</button>
    <!-- <button type="button" class="btn btn-primary" (click)="modalSimulation.show()">Calculer</button>  -->
  </div>
</app-ui-modal>

<app-ui-modal #ModalUploadDocuments  dialogClass="modal-dialog-centered" [containerClick]="false">
  <div class="app-modal-header">
    <h2 class="modal-title" style="font-weight: bold; font-family: 'Montserrat', sans-serif;">Veuiller joindre les documents suivants:</h2>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="ModalUploadDocuments.hide()"><span aria-hidden="true">&times;</span></button>
  </div>

  <div *ngIf="uploadResponseStatus==0" class="app-modal-body">
    
    <input type="file" class="file-input"(change)="onFileSelected1($event)" #fileUpload1>

    <div class="file-upload text-center">

      <div class="row justify-content-center">

        <div class="col-7 " style="margin-top: 2% ; font-size: 150%; font-family: 'Montserrat', sans-serif; text-align: left; text-align: left;">
          {{fileName1 || "Fiche de paie 1..."}}
        </div>

        <div class="col-2">
          <button type="button" class="btn btn-icon btn-outline-primary" (click)="fileUpload1.click()">
            <i class="feather icon-plus"></i>
          </button>
        </div>

      </div>

    </div>

    <hr>

    <input type="file" class="file-input"(change)="onFileSelected2($event)" #fileUpload2>

    <div class="file-upload text-center">

      <div class="row justify-content-center">

        <div class="col-7 " style="margin-top: 2% ; font-size: 150%; font-family: 'Montserrat', sans-serif; text-align: left;">
          {{fileName2 || "Fiche de paie 2..."}}
        </div>

        <div class="col-2">
          <button type="button" class="btn btn-icon btn-outline-primary" (click)="fileUpload2.click()">
            <i class="feather icon-plus"></i>
          </button>
        </div>

      </div>

    </div>

    <hr>

    <input type="file" class="file-input"(change)="onFileSelected3($event)" #fileUpload3>

    <div class="file-upload text-center">

      <div class="row justify-content-center">

        <div class="col-7" style="margin-top: 2% ; font-size: 150%; font-family: 'Montserrat', sans-serif; text-align: left;">
          {{fileName3 || "Fiche de paie 3..."}}
        </div>

        <div class="col-2">
          <button type="button" class="btn btn-icon btn-outline-primary" (click)="fileUpload3.click()">
            <i class="feather icon-plus"></i>
          </button>
        </div>

      </div>

    </div>

    <hr>

    <input type="file" class="file-input"(change)="onFileSelected4($event)" #fileUpload4>

    <div class="file-upload text-center">

      <div class="row justify-content-center">

        <div class="col-7" style="margin-top: 2% ; font-size: 150%; font-family: 'Montserrat', sans-serif; text-align: left;">
          {{fileName4 || "Attestation de travail..."}}
        </div>

        <div class="col-2">
          <button type="button" class="btn btn-icon btn-outline-primary" (click)="fileUpload4.click()">
            <i class="feather icon-plus"></i>
          </button>
        </div>

      </div>

    </div>

    <hr>

    <input type="file" class="file-input"(change)="onFileSelected5($event)" #fileUpload5>

    <div class="file-upload text-center">

      <div class="row justify-content-center">

        <div class="col-7" style="margin-top: 2% ; font-size: 150%; font-family: 'Montserrat', sans-serif; text-align: left;">
          {{fileName5 || "Attestation de salaire..."}}
        </div>
        
        <div class="col-2">
          <button type="button" class="btn btn-icon btn-outline-primary" (click)="fileUpload5.click()">
            <i class="feather icon-plus"></i>
          </button>
        </div>

      </div>

    </div>

    <hr>

    <input type="file" class="file-input"(change)="onFileSelected6($event)" #fileUpload6>

    <div class="file-upload text-center">

      <div class="row justify-content-center">

        <div class="col-7" style="margin-top: 2% ; font-size: 150%; font-family: 'Montserrat', sans-serif; text-align: left;">
          {{fileName6 || "Timbre fiscale..."}}
        </div>

        <div class="col-2">
          <button type="button" class="btn btn-icon btn-outline-primary" (click)="fileUpload6.click()">
            <i class="feather icon-plus"></i>
          </button>
        </div>

      </div>

    </div>

    <hr>

    <div *ngIf="uploadLoading" class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    
  </div>

  <div *ngIf="uploadResponseStatus==200" class="app-modal-body d-flex justify-content-center" style="font-size:120%; font-family: 'Montserrat', sans-serif; margin-top: 1%; text-align: left;">
    <div class="col">
      <div class="div d-flex justify-content-center">
        Vos documents ont été envoyer avec succés!
      </div>
      <div class="div d-flex justify-content-center" style="margin-top:4%">
        <span class="material-symbols-outlined">
          check_circle
        </span>
      </div>
    </div>
    
    
    
  </div>
  
  
  <div class="app-modal-footer">
    <button *ngIf="uploadResponseStatus==0" type="button" class="btn btn-outline-secondary" ngbTooltip="btn-outline-secondary"   data-dismiss="modal" (click)="ModalUploadDocuments.hide()">Annuler</button>
    <button *ngIf="uploadResponseStatus==0" type="button" class="btn btn-outline-primary" ngbTooltip="btn-outline-primary" style="margin: 2px" (click)="onDocsUpload()">Envoyer</button>

    <button *ngIf="uploadResponseStatus==200" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reloadCurrentPage();ModalUploadDocuments.hide()" style="margin: 10px;">Ok</button>

  </div>
</app-ui-modal>

<app-ui-modal #ModalResponse  dialogClass="modal-dialog-centered" [containerClick]="false">
  
  <div class="app-modal-body">

    <div class="col">
      <div class="div d-flex justify-content-center" style="font-size:120%; font-family: 'Montserrat', sans-serif; margin-top: 1%; text-align: left;">
        Votre document a été envoyer avec succés!
      </div>
      <div class="div d-flex justify-content-center" style="margin-top:4%">
        <span class="material-symbols-outlined">
          check_circle
        </span>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reloadCurrentPage();ModalResponse.hide()">OK</button>

  </div>
</app-ui-modal>


<app-ui-modal #ModalContract  dialogClass="modal-dialog-centered" [containerClick]="true">
  <div class="app-modal-header">
    <h2 class="modal-title" style="font-weight: bold; font-family: 'Montserrat', sans-serif;">Contrat</h2>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="ModalUploadDocuments.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  
  <div class="app-modal-body">

    <div class="col">

      <div class="row">
        <div class="col-2">
          <span class="material-symbols-outlined">
            looks_one
            </span>
        </div>
        <div class="col-10">
          <div class="d-flex justify-content-center">
            <img  src="assets\images\contracts\contract2.png" alt="Contrat" style="width: 70%;">
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-primary" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size: larger; margin:5%" >Télécharger</button>
          </div>
        </div>
      </div>

      <hr>

      <input type="file" class="file-input"(change)="onContractSelected($event)" #fileUploadContract>

      <!-- importer le contrat signé -->
      <div class="row">
        <div class="col-2">
          <span class="material-symbols-outlined">
            looks_two
          </span>
        </div>

        <div class="col-10">
          <div class="file-upload text-center" style="margin-top: 10% ;">

            <div class="row justify-content-center" >
  
              <div class="col-10 d-flex justify-content-center" style="margin-top: 3% ; margin-bottom: 10%; font-size: 150%; font-family: 'Montserrat', sans-serif; text-align: left; text-align: left;">
                {{fileName || "Importer le contrat signé..."}}
              </div>
  
  
              <div class="col-2" style="padding: 0;">
                <button type="button" class="btn btn-icon btn-outline-primary" (click)="fileUploadContract.click()" >
                  <i class="feather icon-plus"></i>
                </button>
              </div>
  
            </div>
  
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-2">
          <span class="material-symbols-outlined">
            looks_3
          </span>
        </div>

        <div class="col-10 d-flex justify-content-center" style="margin-top: 5%; margin-bottom: 3%;">
          <button type="button" class="btn btn-lg btn-outline-primary" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size: larger; margin:5%" >Envoyer</button>
        </div>
      </div>
      
      
      

    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-outline-secondary" style="font-family: 'Montserrat', sans-serif; font-weight:bold; font-size: larger;" data-dismiss="modal" (click)="reloadCurrentPage();ModalResponse.hide()" style="margin:10px ;">Fermer</button>

  </div>
</app-ui-modal>
