<div class="card" style="width: auto; ">

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">

      <div class="col-md-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h1 class="text-right">Détails profil</h1>
        </div>
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" width="150px" src="assets\images\profile\profile-pic.jpg">
          <div class="row ">
            <button type="button" class="btn  btn-success-soft">Upload</button>
            <button type="button" class="btn  btn-danger-soft">Remove</button>
          </div>
          
        </div>
      </div>
      
      <div class="col-md-9">
        <div class="container" style="padding-right: 10%; padding-left: 10%;">
          
          <div class="p-3 py-5">
            
            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Nom</h6>
              </div>
              <div class="col-sm-5 text-secondary">
                Kenneth Valdez
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Prénom</h6>
              </div>
              <div class="col-sm-5 text-secondary">
                Ben Foulen
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Date de naissance</h6>
              </div>
              <div class="col-sm-4 text-secondary">
                26/05/1995
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-4 text-secondary">
                assil@value.com
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Num Tel</h6>
              </div>
              <div class="col-sm-4 text-secondary">
                +216 10101010 
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Secteur d'activité</h6>
              </div>
              <div class="col-sm-5 text-secondary">
                Services informatiques
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Employeur</h6>
              </div>
              <div class="col-sm-5 text-secondary">
                Value
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Salaire Brut</h6>
              </div>
              <div class="col-sm-5 text-secondary">
                3000 dt
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Salaire Net</h6>
              </div>
              <div class="col-sm-5 text-secondary">
                2000 dt
              </div>
            </div>


            <div class="mt-5 text-center"><button class="btn btn-primary " type="button">Modifier</button></div>
        </div>

        </div>
          
      </div>

      

    </div>  
  </div>

</div>

