<div class="col">
  <div class="row">
    <div class="label">Fiche de paie 1</div>
    <input type="file" class="file-input" (change)="onFileSelected1($event)">
    <!-- <button type="button" class="btn btn-primary" (click)="onFileUpload1()">Confirmer</button> -->
  </div>
  <div class="row">
    <div class="label">Fiche de paie 2</div>
    <input type="file" class="file-input" (change)="onFileSelected2($event)">
    <!-- <button type="button" class="btn btn-primary" (click)="onFileUpload2()">Confirmer</button> -->
  </div>
  <div class="row">
    <div class="label">Fiche de paie 3</div>
    <input type="file" class="file-input" (change)="onFileSelected3($event)">
    <!-- <button type="button" class="btn btn-primary" (click)="onFileUpload3()">Confirmer</button> -->
  </div>
  <div class="row">
    <div class="label">Attestation de salaire</div>
    <input type="file" class="file-input" (change)="onFileSelected4($event)">
    <!-- <button type="button" class="btn btn-primary" (click)="onFileUpload4()">Confirmer</button> -->
  </div>
  <div class="row">
    <div class="label">Attestation de travail</div>
    <input type="file" class="file-input" (change)="onFileSelected5($event)">
    <!-- <button type="button" class="btn btn-primary" (click)="onFileUpload5()">Confirmer</button> -->
  </div>
  <div class="row">
    <div class="label">Timbre fiscale</div>
    <input type="file" class="file-input" (change)="onFileSelected6($event)">
    <button type="button" class="btn btn-primary" (click)="onFileUpload()">Confirmer</button>
  </div>
</div>


