<div class="card" style="width: auto; ">

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">

      <div class="col-md-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h1 class="text-right">Confirmation du crédit</h1>
        </div>
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          
            <img class="card-img-top" src={{model.imageUrl}} alt="Card image cap" style="width: 70%; align-self: center;">
            
            <div style="align-self: center;">
              <div class="row">
                <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a class="spec" >MARQUE:&emsp;</a>{{model.nom}}</li>
                      <li class="list-group-item"><a class="spec" >PRIX:&emsp;</a>{{model.prix}} DT</li>
                      <li class="list-group-item"><a class="spec" >ENERGIE:&emsp;</a>{{model.energie}}</li>
                      <li class="list-group-item"><a class="spec" >BOITE:&emsp;</a>{{model.boite}}</li>  
                </ul> 
                <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a class="spec" >PUISSANCE FISCALE:&emsp;</a>{{model.puissanceFiscale}} cv</li>
                      <li class="list-group-item"><a class="spec" >NOMBRE DE CYLINDRES:&emsp;</a>{{model.nbreDeCylindres}}</li>
                      <li class="list-group-item"><a class="spec" >NOMBRE DE PLACES:&emsp;</a>{{model.nbreDePlaces}}</li>
                      <li class="list-group-item"><a class="spec" >NOMBRE DE RAPPORTS:&emsp;</a>    {{model.nbreDeRapports}}</li>
                </ul> 
              </div>
            </div>
          
        </div>
      </div>
      
      <div class="col-md-7 ">
        <div class="container" style="padding-right: 10%; padding-left: 10%;">
          
          <div class="p-3 py-5">
            
            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Nom</h6>
              </div>
              <div class="col-sm-5 text-secondary">
                {{client.nom}}
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Prénom</h6>
              </div>
              <div class="col-sm-5 text-secondary">
                {{client.prenom}}
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Date de naissance</h6>
              </div>
              <div class="col-sm-4 text-secondary">
                {{client.dateNaissance}}
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-4 text-secondary">
                {{client.email}}
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Num Tel</h6>
              </div>
              <div class="col-sm-4 text-secondary">
                {{client.numTel}} 
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Auto financement</h6>
              </div>
              <div class="col-sm-5 text-secondary">
                {{credit.autoFinancement}} dt
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Durée de remboursement</h6>
              </div>
              <div class="col-sm-5 text-secondary">
                {{credit.dureeRemboursement}} mois
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Montant crédité</h6>
              </div>
              <div class="col-sm-5 text-secondary">
                {{credit.montant}} dt
              </div>
            </div>


            <div class="mt-5 text-center"><button class="btn btn-primary " type="button" (click)="acceptCredit()">Confirmer</button></div>
          
        </div>

        </div>
          
      </div>
    </div>  
  </div>

</div>
